.mw {
  max-width: 768px;
  margin: 0 auto;
  width: calc(100% - var(--gap-32));
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.buttons > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.buttons > button,
.result {
  width: 6rem;
  border-radius: 0.6rem;
  text-align: center;
}

.buttons > button {
  background-color: var(--blue-300);
  color: white;
  font-size: 1.2rem;
  padding: 0.6rem 0;
  cursor: pointer;
}

.result {
  background-color: white;
  border: 1px solid var(--neutral-50);
  padding: 0.8rem 0;
  font-weight: 600;
}
