.card {
  border: 4px solid var(--blue-100);
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 1.6rem;
  width: 30rem;
}

.card h1 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--blue-100);
}

.card p {
  color: var(--blue-100);
  font-weight: 600;
}

.card img {
  width: 10rem;
}

.computer {
  border-color: var(--orange);
  order: 3;
}

.computer h1,
.computer p {
  color: var(--orange);
}

.lose {
  opacity: 0.4;
}

.win {
  border-color: #f04718;
  background-color: white;
  animation: radius-move 2s ease-in-out infinite alternate;
}

@keyframes radius-move {
  0% {
    transform: translateY(0px);
    border-radius: 26% 74% 49% 51% / 21% 51% 49% 79%;
  }
  25% {
    border-radius: 74% 26% 50% 50% / 53% 29% 71% 47%;
  }
  50% {
    border-radius: 48% 52% 28% 72% / 45% 71% 29% 55%;
  }
  75% {
    border-radius: 48% 52% 76% 24% / 70% 49% 51% 30%;
  }
  100% {
    transform: translateY(30px);
    border-radius: 26% 74% 49% 51% / 21% 51% 49% 79%;
  }
}
