.card {
  border: 4px solid var(--blue-100);
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 1.6rem;
  width: 30rem;
}

.card h1 {
  font-weight: 700;
  font-size: 2rem;
}

.card p {
  color: var(--blue-100);
  font-weight: 600;
}

.card img {
  width: 10rem;
}

.computer {
  border-color: var(--orange);
  order: 3;
}

.computer h1,
.computer p {
  color: var(--orange);
}

.lose {
  opacity: 0.4;
}
