@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400..700&display=swap");

:root {
  --blue-100: #247dc1;
  --blue-200: #678dc3;
  --blue-300: #3684f2;
  --orange: #ca661f;
  --green: #7ac89e;
  --yellow: #d7b15f;
  --neutral-100: #f3f5f7;
  --neutral-50: #e1e2e5;

  font-size: 10px;
  box-sizing: border-box;
}

* {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--neutral-100);
  line-height: 1.4;
  padding-top: 4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

header,
footer {
  text-align: center;
}

header h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 3rem;
}

main {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

footer {
  margin-top: 3rem;
}

footer p {
  font-size: 1.4rem;
  color: gray;
}

.sicssors-btn {
  border-left: 3px solid var(--green);
}

.rock-btn {
  border-left: 3px solid var(--blue-200);
}

.paper-btn {
  border-left: 3px solid var(--yellow);
}

.computer-card {
  border-color: var(--orange);
}

.computer-card h1 {
  color: var(--orange);
}

.computer-card p {
  color: var(--orange);
}
